.my-name-input
{
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
    display: inline-flex;
    width: 115px;
    color: #e2e9e2;
    caret-color: #e2e9e2;
}
.my-name-input:focus
{
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
    color: #e2e9e2;
    caret-color: #e2e9e2;
}
.my-name-input::placeholder
{
    color: #b8b8b8;
}
.my-name-input:disabled
{
    background-color: #ffffff2a;
}
.my-btn
{
    width: 80px;
}
.my-check-space
{
    margin-right: -5px;
}
input:disabled
{
    background-color: lightgray;
    color: gray;
}
.nav-link 
{
    width: 50px;
    height: 22px;
    padding: 0px;
    color: #e2e9e2;
}
.nav-link:hover
{
    color: #e2e9e2;
    background-color: #b8b8b885;
    cursor: pointer;
}
.nav-item .nav-link.active
{
    background-color: #b8b8b8c2;
}
.my-popover
{
    --bs-popover-header-bg: #333533;
    --bs-popover-bg: #2d2f2d;
    --bs-popover-header-color: #e2e9e2;
    --bs-popover-body-color: #e2e9e2;
}