.my-empty-dot
{
    background-image: url('../Images/emptyDot.png');
    background-size: cover;
}
.my-full-dot
{
    background-image: url('../Images/fullDot.png');
    background-size: cover;
}
.my-little-dot
{
    background-image: url('../Images/littleDot.png');
    background-size: cover;
}
.my-little-red-dot
{
    background-image: url('../Images/redDot.png');
    background-size: cover;
}