body
{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: #272927;
    /* background-color: #786b6b; */
    color: #e2e9e2;
    zoom: 119%;
}
.my-menu
{
    min-height: 70px;
    margin-top: 17px;
    z-index: 1;
}
.my-menu-item
{
    margin: 0px 50px;
    flex-direction: row;
}
.my-title
{
    margin-right: 100px;
    font-size: 40px;
}
.my-name-input
{
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
    display: inline-flex;
    width: 115px;
    color: #e2e9e2;
    caret-color: #e2e9e2;
}
.my-name-input:focus
{
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
    color: #e2e9e2;
    caret-color: #e2e9e2;
}
.my-name-input::placeholder
{
    color: #b8b8b8;
}
.my-btn
{
    width: 80px;
}
.my-main
{
    height: 650px;
    margin-top: 20px;
}
.my-stats, .my-score
{
    width: 23%;
    height: 100%;
    z-index: 1;
}
.my-check-space
{
    margin-right: -5px;
}
.my-game
{
    z-index: -1;
}
.my-game-grid
{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#gameWindow
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.my-game-frame
{
    width: 700px;
    height: 700px;
    border: 50px solid #272927;
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.my-game-border
{
    width: 660px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#animationRowUp
{
    position: absolute;
    width: 600px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    top: 82px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
#animationRowDown
{
    position: absolute;
    width: 600px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    top: 732px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
#animationColRight
{
    position: absolute;
    width: 50px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    top: 132px;
    left: 50%;
    transform: translate(600%);
    z-index: -1;
}

#animationColLeft
{
    position: absolute;
    width: 50px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    top: 132px;
    left: 50%;
    transform: translate(-700%);
    z-index: -1;
}
.my-position
{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.my-empty-dot
{
    background-image: url('./Images/emptyDot.png');
    background-size: cover;
}
.my-full-dot
{
    background-image: url('./Images/fullDot.png');
    background-size: cover;
}
.my-little-dot
{
    background-image: url('./Images/littleDot.png');
    background-size: cover;
}
.my-little-red-dot
{
    background-image: url('./Images/redDot.png');
    background-size: cover;
}
.my-leaderboard
{
    width: 100%;
    color: #e2e9e2;
}
.my-game-modal
{
    background-color: #272927;
}